<!-- sidebar menu start-->
<ul class="sidebar-menu" id="nav-accordion">

    <li class="sub-menu">
        <a href="~/Profil/SinavListele">
            <i class="icon-pencil"></i>
            Not Ekranı
        </a>
    </li>
</ul>
<!-- sidebar menu end-->

