<!-- sidebar menu start-->
<ul class="sidebar-menu" id="nav-accordion">

    <li class="sub-menu">
        <a href="~/Profil/DersKayit">
            <i class="icon-laptop"></i>     
            Ders Kayıt      
        </a>
    </li>
    <li class="sub-menu">
        <a id="btnReport">
            <i class="icon-laptop"></i>
           Transkript      
        </a>
      
    </li>

</ul>
<!-- sidebar menu end-->
