<!-- sidebar menu start-->
<ul class="sidebar-menu" id="nav-accordion">

    <li class="sub-menu">
    <a href="~/Profil/Index">
        <i class="icon-list"></i>
        Yaz Okulu Başvuru Listesi
    </a>
</li>
  
</ul>
<!-- sidebar menu end-->

